name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    uses: saikrishna8763/ci-templates/.github/workflows/java-gradle-sonar-acr.yml@main
    with:
      sonar_project_key: java-gradle
      image_name: spring-petclinic
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
      ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
      ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
